<h3>{{viewTitle}}</h3>

<form action="/assurance" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{assurance._id}}">
    <div class="form-group">
        <label>Name</label>

        <input type="text" class="form-control" name="Name" placeholder="Name" value="{{assurance.Name}}">
        <div class="text-danger">
            {{assurance.NameError}}</div>
    </div>
    <div class="form-group">
        <label>NumContrat</label>
        <input type="text" class="form-control" name="NumContrat" placeholder="NumContrat" value="{{assurance.NumContrat}}">
        <div class="text-danger">
            {{assurance.NumContratError}}</div>
    </div>

        <div class="form-group col-md-6">
            <label>Agence</label>
            <input type="text" class="form-control" name="Agence" placeholder="Agence" value="{{assurance.Agence}}">
        </div>
            <div class="form-row">    
        <div class="form-group col-md-6">
            <label>dateDu</label>
            <input type="date" class="form-control" name="dateDu" placeholder="dateDu" value="{{assurance.dateDu}}">
        </div>       
     <div class="form-group col-md-6">
            <label>dateAu</label>
            <input type="date" class="form-control" name="dateAu" placeholder="dateAu" value="{{assurance.dateAu}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/assurance/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>