<h3>{{viewTitle}}</h3>

<form action="/vehicule" method="POST" autocomplete="off">
    <input type="hidden" marque="_id" value="{{vehicule._id}}">
    <div class="form-group">
        <label>Marque</label>

        <input type="text" class="form-control" marque="Marque" placeholder="Marque" value="{{vehicule.Marque}}">
        <div class="text-danger">
            {{vehicule.MarqueError}}</div>
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control" marque="Type" placeholder="Type" value="{{vehicule.Type}}">
        <div class="text-danger">
            {{vehicule.TypeError}}</div>
    </div>

        <div class="form-group col-md-6">
            <label>Numematricule</label>
            <input type="text" class="form-control" marque="Numematricule" placeholder="Numematricule" value="{{vehicule.Numematricule}}">
        </div>
            <div class="form-row">    
        <div class="form-group col-md-6">
            <label>Venant</label>
            <input type="text" class="form-control" marque="Venant" placeholder="Venant" value="{{vehicule.Venant}}">
        </div>       
     <div class="form-group col-md-6">
            <label>allant</label>
            <input type="text" class="form-control" marque="allant" placeholder="allant" value="{{vehicule.allant}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/vehicule/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>