<h3><a class="btn btn-secondary" href="/vehicule"><i class="fa fa-plus"></i> Create New</a> vehicule List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marque</th>
            <th>Type</th>
            <th>Numematricule</th>
            <th>venant de</th>
            <th>allant à</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Marque}}</td>
            <td>{{this.Type}}</td>
            <td>{{this.Numematricule}}</td>
            <td>{{this.Venant}}</td>            
            <td>{{this.allant}}</td>
            <td>
                <a href="/vehicule/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/vehicule/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>